<%= link_to "Editar #{@genre.name}", edit_genre_path %> <br><br>

<table>
  <thead>
    <tr>
      <th colspan="1">
        <h1>
          Todos os filmes do gênero <%= @genre.name %>
        </h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @genre.films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
